*{
    padding: 0;
    margin: 0;

}
body{
    background-color: #333647;
}
#header{
    background-image: url(../images/piano.webp);
    background-repeat: no-repeat;
    background-blend-mode:calc();
    background-size: cover;
    height: 50%;
}

#header>#Navigation>nav>ul{
    list-style: none;
    color:#9599b1;
    display: flex;
    justify-content: end;
    padding: 3vh;
    font-size: xx-large;
    
}
#header>#Navigation>nav>ul>li:hover{
    color: yellow;
}
a{
    text-decoration: none;
    color: inherit;
}
li{
    margin-left: 4vw;
    margin-right: 1vw;
}
.description{

    padding: 10%;

    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.description>div>#name{
    font-size: 80px;
    display: flex;
    flex-direction: column;
    
    
}

.proDescr{
    max-width: 400px;
    margin-left: 7vw;
}
.proDescr>.title{
    font-size: xx-large;
    margin-bottom: 4%;
    text-decoration: underline;
    font-family: Kaisei Opti;
    color: white;
    font-weight: 700;
    opacity: 0.5;
}
.proDescr>.words{
    font-size: x-large;
    color: white;
    opacity: 0.4;
}
.title{
    font-size: xx-large;
    margin-bottom: 4%;
    text-decoration: underline;
    font-family: Kaisei Opti;
    color: yellow;
    font-weight: 700;
}
.titles{
    margin-top: 2vh;
    font-size: xxx-large;
}
.words{
    margin-top: 3vh;
    font-size: x-large;
    opacity: 0.4;

}
#btnStory{
    border: 1px solid yellow;
    height: 40px;
    width: 150px;
    border-radius: 5px;
    color: yellow;
    font-weight: 800;
    font-size: large;
    margin-top: 5vh;
    text-align: center;
    padding-top: 2%;
}
#My-Services{
    padding-top: 5%;
    background-color: #242534;
    color: white;
    display: flex;
    flex-direction: column;
    padding-bottom: 15%;
    

}
ol>li{
    list-style-type: disc;
}
.doubleWords{
    display: inherit;
    justify-content: space-between;
}
.doubleWords>.first-word{
    max-width: 30%;
    margin-left: 5%;
    margin-right: 15%;
    font-size: x-large;
    color: rgb(141, 129, 129);
}
.floatCards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -120px;
}
.yellow{
    height: 300px;
    width:250px;
    background-color: rgb(199, 199, 8);
    margin-left: 30px;
    border-radius: 5px;
    padding: 10px;
    text-align:center;
    padding-bottom: 0;
    font-size: xx-large;
    font-weight: 800;
    color: rgb(247, 228, 228);
}
.greyy{
    background-color: blue;
    height: 300px;
    width:250px;
    background-color: #46495F;
    margin-left: 50px;
    border-radius: 5px;
    padding: 10px;
    text-align:center;
    font-size: xx-large;
    font-weight: 800;
    color:white;
    
}
#works{
    margin-top: 5%;
}

.normalDecr{
    color: white;
    display: flex;
    flex-direction: row;
    margin-left: 1%;
    justify-content: center;
    margin-top: 7%;
}
.normalDecr>div>.titles{
    font-family: Poppins;
}
.normalDecr>div>img{
    width: 40vw;
    min-width: 400px;
    min-width: 400px;
    border-radius: 15px;
    justify-content: space-between;
    padding-left: 4vw;

}
#webImg{
    width: 40vw;
    min-width: 400px;
    border-radius: 15px;
    padding-right: 3vw;
    padding-left: 0;

}
.normalDecr .words{
    font-size: x-large;
    max-width: 700px;
}
.titles,.words{
    max-width: 700px;
}
.fa {
    padding: 10px;
    margin-top: 10px;
    font-size: x-large;
    width: 30px;
    text-align: center;
    text-decoration: none;
    color: white;
  }
.fa:hover {
    opacity: 0.9;
    color: yellow;
    font-size: 45px;
    transition: 200ms;

  }
