*{
    padding: 0;
    margin: 0;

}
body{
    background-color: #333647;
}
#Navigation>nav>ul{
    list-style: none;
    color:#9599b1;
    display: flex;
    justify-content: end;
    padding: 2vh;
    font-size: xx-large;
}
li{
    margin-left: 3vw;
}
.description{
    padding: 10%;
    height: 50%;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.description>#name{
    font-size: 80px;
    display: flex;
    flex-direction: column;
    
    
}
.proDescr{
    max-width: 400px;
    margin-left: 7vw;
}
.title{
    font-size: large;
    margin-bottom: 4%;
    text-decoration: underline;
    font-family: Kaisei Opti;
    color: white;
    font-weight: 700;
}
.titles{
    margin-top: 2vh;
    font-size: xxx-large;
}
.words{
    margin-top: 3vh;
    font-size: larger;

}
#btnStory{
    border: 1px solid yellow;
    height: 40px;
    width: 150px;
    border-radius: 5px;
    color: yellow;
    font-weight: 800;
    font-size: large;
    margin-top: 1vh;
}
#My-Services{
    padding-top: 5%;
    background-color: #242534;
    color: white;
    display: flex;
    flex-direction: column;
    padding-bottom: 15%;
    

}
.doubleWords{
    display: inherit;
    justify-content: space-between;
}
.doubleWords>.first-word{
    max-width: 30%;
    margin-left: 5%;
    font-size: x-large;
}
.floatCards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -120px;
}
.yellow{
    height: 300px;
    width:250px;
    background-color: yellow;
    margin-left: 30px;
    border-radius: 5px;
    padding: 10px;
}
.greyy{
    background-color: blue;
    height: 300px;
    width:250px;
    background-color: #46495F;
    margin-left: 50px;
    border-radius: 5px;
    padding: 10px;
}
#works{
    margin-top: 5%;
}

.normalDecr{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.normalDecr>div>img{
    width: 40vw;
    border-radius: 2px;

}
.normalDecr .words{
    font-size: x-large;
}